h1{color:purple; font-family:Arial;}
h2{color:purple;}
p{background-color:pink; color:blue; font-family:Arial;}
table{background-color:rgb(45, 111, 143); color:purple;}
ul{color: purple;background-color:pink;}
ol{color: purple; background-color:pink;}
form{background-color:pink; color:purple; font-family:Arial;}